.env
main.js
styles.css

.obsidian-unpacked/

tests/e2e/test-environments/*
tests/e2e/debug/*

tests/vault/Test/articles
tests/vault/Test/.obsidian/workspace.json
tests/vault/Test/.obsidian/plugins/ghost-sync/data.json

e2e-test-results.json
dev-test-vault/
test-results/
.last-run.json
playwright-report/
coverage/
