.env
main.js
styles.css

.obsidian-unpacked/

tests/e2e/debug/*
tests/e2e/results.json
tests/e2e/test-environments/*

tests/vault/Test/articles
tests/vault/Test/.obsidian/workspace.json
tests/vault/Test/.obsidian/plugins/ghost-sync/data.json

.last-run.json
playwright-report/
coverage/
tests/e2e/test-data
node_modules
