.env
main.js

.obsidian-unpacked/

e2e/recordings/*
e2e/test-environments/*
e2e/screenshots/*

tests/vault/Test/articles
tests/vault/Test/.obsidian/workspace.json
tests/vault/Test/.obsidian/plugins/ghost-sync/data.json
